body {
  background: black;
  color: white;
  font-family: Inconsolata;
  /*text-align: center;*/
}

img#perseus-img {
  width: 50% !important;
}

img#dreamcatcher-img {
  width: 50% !important;
  float: right;
}

img#vanhouston-img {
  width: 50% !important;
}
.technologies {
  padding-top: 5%;
  width: 50% !important;
}

.float-right {
  float: right;
}

img#text-twist-img {
  width: 50% !important;
  float: right;
}

.float-left {
  float: left;
}
.header {
  position: relative;
  height: 800px;
  width: 100%;
  text-align: center;
}
.technologies p {
  color: black;
  font-weight: bolder;
}
.awesome-guy {
  font-size: 12em;
}

.title {
  font-size: 4em;
}

#perseus {
  background: #F4B31F;
  padding: 30px;
}

#vanhouston {
  background: #FBDC93;
  padding: 30px;
}

#text-twist {
  background: #219581;
    padding: 30px;
}

#dreamcatcher {
  background: #96D7C4;
    padding: 30px;
}
.card {
  margin: 5px !important;
  box-shadow: none !important;
}
a#github {
  background: #F4B31F;
}

a#twitter {
  background: #96D7C4;
}

a#instagram {
  background: #219581;
}

a#mail {
  background: #FBDC93;
}

.btn-floating:hover {
  background: grey !important;
}

.raptor {
  color: #96D7C4;
}

.developer {
  color: #F4B31F;
}

.col:hover {
  box-shadow: inset 4px 4px 50px black !important;
}
@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      .awesome-guy {
        font-size: 6em;
      }
      .title {
        font-size: 3em;
      }
      img#perseus-img {
        width: 100%;
      }

      img#dreamcatcher-img {
        width: 100%;
        float: right;
      }

      img#vanhouston-img {
        width: 100%;
      }

      img#text-twist-img {
        width: 100%;
      }
      .technologies {
        width: 100%;
      }
    }
